
html body div.book.without-animation.with-summary.font-size-2.font-family-1 div.book-summary {
  background-color: #293259;
    background: #293259;
    color: #6DD47E;

    
     
}

html body div.book.without-animation.with-summary.font-size-2.font-family-1 div.book-body.fixed div.body-inner {
  
  background-color: #FFD55A;
    background:#FFD55A;
    color:#FFD55A;
}

html body div.book.without-animation.with-summary.font-size-2.font-family-1 div.book-body.fixed {
  background-color: #6DD47E;
    background: #6DD47E;
    color: #6DD47E;
}